{% extends 'base.html' %}
{% load static %}


{% block title %}{{product_name|capfirst}}{% endblock%}


{% block content %}
<h1>{{product_name}}</h1>

<a href="{% url 'catalog-page' %}">Каталог</a> ->
<a href="{% url 'category-page' category_slug %}">{{category_name}}</a> ->
<a href="{% url 'product-page' category_slug product_slug %}">{{product_name}}</a>

<br><br>


<br>



<div class="produkt">
    <div class="foto">
        <img src="{% static 'images/no-img.jpg' %}" alt="Фото {{product_name}}">
            <b>Артикур: </b>{{product_article}}
            <br>
            <b>Цена: </b> {{product_price}} руб.

    </div>
    <div class="info">
        <b>Характеристики</b>
    </div>
    <div class="description">
        <b>Описание товара:</b>
        <br>
        {{product_description}}
        <br>
    </div>

</div>

{% endblock %}