<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cuprum">


	{% block css_additional %} {% endblock %}
</head>
<body>


<header>
	<nav class="dws-menu">
		<ul>
			<li><a href="{% url 'home-page' %}"><i class="fa fa-home"></i>Главная</a></li>


			<li><a href="{% url 'catalog-page' %}"><i class="fa fa-shopping-cart"></i>Каталог</a>


					<ul>
					{% for field_category in categories %}
					    <li><a href="{% url 'category-page' field_category.slug %}">{{ field_category }}</a>
					    <ul>
					    {% for field_product in products%}
					        {% if field_product.category == field_category%}
					        <li><a href="{% url 'product-page' field_category.slug field_product.slug %}">{{field_product}}</a></li>
					        {% endif %}
					    {% endfor %}
					    </ul>
					    </li>

					{% endfor %}
					</ul>



			<li><a href="{% url 'company-page' %}"><i class="fa fa-cogs"></i>О компании</a>
				<ul>
					<li><a href="{% url 'awards-page' %}">Награды и благодарности</a></li>
					<li><a href="{% url 'technologies-page' %}">Технологии</a></li>
				</ul>
			</li>

			<li><a href="{% url 'clients-page' %}"><i class="fa fa-th-list"></i>Клиентам</a>
				<ul>
					<li><a href="{% url 'payment-page' %}">Оплата</a></li>
					<li><a href="{% url 'delivery-page' %}">Доставка</a></li>
				</ul>
			</li>

			<li><a href="{% url 'contacts-page' %}"><i class="fa fa-envelope-open"></i>Контакты</a></li>

		</ul>
	</nav>
</header>



{% block content %}

{% endblock %}

</body>
</html>