<!doctype html>
<html lang="ru">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Стили -->
    {% include 'includes/styles_css.html' %}
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">
    <!-- Меню + обычная шапка -->
    {% include 'includes/header.html' %}

    <!-- Обычная шапка -->
    {% include 'includes/head_small.html' %}


    <section class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-11 mx-auto blog-content">
              {% block content %}
              {% endblock %}
          </div>
        </div>
      </div>
    </section>

    <!-- Подвал -->
    {% include 'includes/footer.html' %}
  </div>


  <!-- Скрипты -->
  {% include 'includes/js_scripts.html' %}

  </body>
</html>