{% load static %}

<div class="owl-carousel slide-one-item owl-loaded owl-drag">









    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3378px, 0px, 0px); transition: all 0s ease 0s; width: 6756px;"><div class="owl-item cloned" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_3.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-7">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">Welcome to UnEarth</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, cumque vitae animi.</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div><div class="owl-item cloned" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_2.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-8">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">New Generation of Mining</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est odit dolorum voluptates!</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div><div class="owl-item" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_3.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-7">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">Welcome to UnEarth</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, cumque vitae animi.</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div><div class="owl-item active" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_2.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-8">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">New Generation of Mining</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est odit dolorum voluptates!</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div><div class="owl-item cloned" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_3.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-7">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">Welcome to UnEarth</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, cumque vitae animi.</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div><div class="owl-item cloned" style="width: 1126px;"><div class="site-section-cover overlay img-bg-section" style="background-image: url('images/hero_2.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-8">
              <h1 data-aos="fade-up" data-aos-delay="" class="aos-init aos-animate">New Generation of Mining</h1>
              <p class="mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est odit dolorum voluptates!</p>
              <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href="#" class="btn btn-outline-white border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div></div></div></div><div class="owl-nav"><div class="owl-prev"><span class="icon-keyboard_arrow_left"></span></div><div class="owl-next"><span class="icon-keyboard_arrow_right"></span></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>