p {
    text-align: justify;
}

.produkt {
    border: 2px solid white;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.produkt img {
    width: 100%;
}

.produkt div {
    border: 2px solid white;
}

.foto {

}

.info {

}

.description {
  grid-column: 1 / 3;
}

.tehno-preview {
    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 4; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-align: justify;
}


.des-product {
    text-align: center;
}

.des-product-link {
    text-align: right;
}


.award_style {
    border: 2px solid white;
    width: 100%;

}

