{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>Награды и благодарности</h1>

<a href="{% url 'company-page' %}">О компании</a> ->
<a href="{% url 'awards-page' %}">Награды и благодарности</a>

<br><br>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae expedita cumque necessitatibus ducimus debitis totam, quasi praesentium eveniet tempore possimus illo esse, facilis? Corrupti possimus quae ipsa pariatur cumque, accusantium tenetur voluptatibus incidunt reprehenderit, quidem repellat sapiente, id, earum obcaecati.</p>

            <p>Eveniet deleniti accusantium nulla natus nobis nam asperiores ipsa minima laudantium vero cumque cupiditate ipsum ratione dicta, expedita quae, officiis provident harum nisi! Esse eligendi ab molestias, quod nostrum hic saepe repudiandae non. Suscipit reiciendis tempora ut, saepe temporibus nemo.</p>
            <p>Accusamus, temporibus, ullam. Voluptate consectetur laborum totam sunt culpa repellat, dolore voluptas. Quaerat cum ducimus aut distinctio sit, facilis corporis ab vel alias, voluptas aliquam, expedita molestias quisquam sequi eligendi nobis ea error omnis consequatur iste deleniti illum, dolorum odit.</p>
            <p>In adipisci corporis at delectus! Cupiditate, voluptas, in architecto odit id error reprehenderit quam quibusdam excepturi distinctio dicta laborum deserunt qui labore dignissimos necessitatibus reiciendis tenetur corporis quas explicabo exercitationem suscipit. Nisi quo nulla, nihil harum obcaecati vel atque quos.</p>
            <p>Amet sint explicabo maxime accusantium qui dicta enim quia, nostrum id libero voluptates quae suscipit dolor quam tenetur dolores inventore illo laborum, corporis non ex, debitis quidem obcaecati! Praesentium maiores illo atque error! Earum, et, fugit. Sint, delectus molestiae. Totam.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iste, repudiandae facere aperiam sapiente, officia delectus soluta molestiae nihil corporis animi quos ratione qui labore? Sint eaque perspiciatis minus illum.</p>
            <p>Consectetur porro odio quod iure quaerat cupiditate similique, dolor reprehenderit molestias provident, esse dolorum omnis architecto magni amet corrupti neque ratione sunt beatae perspiciatis? Iste pariatur omnis sed ut itaque.</p>
            <p>Id similique, rem ipsam accusantium iusto dolores sit velit ex quas ea atque, molestiae. Sint, sed. Quisquam, suscipit! Quisquam quibusdam maiores fugiat eligendi eius consequuntur, molestiae saepe commodi expedita nemo!</p>




<div class="site-section">
<!-- -->
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 aos-init aos-animate" style="background-image: url({% static 'images/gratitude_01.jpg' %}   );" data-aos="fade-right" data-aos-delay="">
            </div>



            <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="">
              <h2 class="mb-3 text-black">АО "ИЭМЗ" КУПОЛ</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <p>Minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Lorem ipsum dolor.</li>
                <li>Quod, amet. Provident.</li>
                <li>Quo, adipisci, quis.</li>
                <li>Cumque perspiciatis, blanditiis?</li>
              </ul>


            </div>

          </div>
        </div>
      </div>

<!-- -->

      <div class="block__73694">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 order-lg-2 aos-init aos-animate award_style" style="background-image: url({% static 'images/gratitude_02.jpg' %});" data-aos="fade-left" data-aos-delay="">
            </div>

            <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="">
              <h2 class="mb-3 text-black">АО "АТЦ" Росатома</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <p>Minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Lorem ipsum dolor.</li>
                <li>Quod, amet. Provident.</li>
                <li>Quo, adipisci, quis.</li>
                <li>Cumque perspiciatis, blanditiis?</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<!-- -->

      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 aos-init aos-animate" style="background-image: url({% static 'images/gratitude_03.jpg' %}   );" data-aos="fade-right" data-aos-delay="">
            </div>



            <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="">
              <h2 class="mb-3 text-black">АО "СПТБ ЗВЕЗДОЧКА"</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <p>Minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Lorem ipsum dolor.</li>
                <li>Quod, amet. Provident.</li>
                <li>Quo, adipisci, quis.</li>
                <li>Cumque perspiciatis, blanditiis?</li>
              </ul>


            </div>

          </div>
        </div>
      </div>
<!-- -->

      <div class="block__73694">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 order-lg-2 aos-init aos-animate award_style" style="background-image: url({% static 'images/gratitude_04.jpg' %});" data-aos="fade-left" data-aos-delay="">
            </div>

            <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="">
              <h2 class="mb-3 text-black">ПАО "ЦКБ АЙСБЕРГ"</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <p>Minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Lorem ipsum dolor.</li>
                <li>Quod, amet. Provident.</li>
                <li>Quo, adipisci, quis.</li>
                <li>Cumque perspiciatis, blanditiis?</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<!-- -->
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 aos-init aos-animate" style="background-image: url({% static 'images/gratitude_05.jpg' %}   );" data-aos="fade-right" data-aos-delay="">
            </div>



            <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="">
              <h2 class="mb-3 text-black">АО "ЦС "ЗВЕЗДОЧКА"</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <p>Minus perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere officiis. Cum, esse, iusto?</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Lorem ipsum dolor.</li>
                <li>Quod, amet. Provident.</li>
                <li>Quo, adipisci, quis.</li>
                <li>Cumque perspiciatis, blanditiis?</li>
              </ul>


            </div>

          </div>
        </div>
      </div>

</div>




{% endblock %}