{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>{{category_name}}</h1>

<a href="{% url 'catalog-page' %}">Каталог</a> ->
<a href="{% url 'category-page' category_slug %}">{{category_name}}</a>

<br><br>

<p>{{category_description}}</p>


    <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row">

            {% for prod in products_of_category %}

            <div class="col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
              <div>
              <a href="{% url 'product-page' category_slug prod.slug %}" class="mb-4 d-block"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a>
              <h2 align="center"><a href="{% url 'product-page' category_slug prod.slug %}">{{prod.title}}</a></h2>
              <p class="text-muted mb-3 text-uppercase small des-product"><span class="mr-2">Артикул: {{prod.article}}</span> <b>Цена от {{prod.price}} руб.</b></p>
              <p class="des-product">{{prod.description}}</p>
              <p class="des-product"><a href="{% url 'product-page' category_slug prod.slug %}">Подробнее</a></p>
              </div>
            </div>

            {% endfor %}

        </div>
      </div>
    </div>





{% endblock %}