{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>О компании</h1>

<a href="{% url 'company-page' %}">О компании</a>

<br><br>

<p>
Formulapodarka - это сувениры премиум-класса, в которых воплощены ваши идеи!
    <br>
Cледуя всем вашим пожеланиям и предлагая свои дизайнерские мысли, мы создаём для вас уникальный подарок - вместе выбираем форму, цвет и материал, наносим текст, брендируем и оформляем в качественную упаковку. Это может быть один маленький сувенир для коллеги или целая линейка фирменных подарков для руководства или партнеров - ограничений по количеству единиц нет!
    <br>
Мы используем современные технологии и материалы, экономим ваше время и предлагаем самые выгодные цены в своём сегменте.
    <br>
Среди работ Formulapodarka - плакетки, панно, настенные и настольные часы, дипломы, значки и многое другое. Основой для них является барельеф с металлизированным покрытием, изготовленный по вашему эскизу или фотографии.
    <br>
Если вы пока не знаете, как должен выглядеть готовый продукт, наши дизайнеры учтут все пожелания и предложат несколько вариантов на выбор.
    <br>
Cоздайте ваш уникальный подарок вместе с Formulapodarka!
    <br>
</p>

<a href="{% url 'awards-page' %}">Награды и благодарности</a> <br>
<a href="{% url 'technologies-page' %}">Технологии</a> <br>



{% endblock %}