{% extends 'base.html' %}



{% block title %}О компании{% endblock%}


{% block content %}
<h1>О компании</h1>

<a href="{% url 'company-page' %}">О компании</a>

<br><br>

<p>
Formulapodarka - это сувениры премиум-класса, в которых воплощены ваши идеи!
    <br>

Cледуя всем вашим пожеланиям и предлагая свои дизайнерские мысли, мы создаём для вас уникальный подарок - вместе выбираем форму, цвет и материал, наносим текст, брендируем и оформляем в качественную упаковку. Это может быть один маленький сувенир для коллеги или целая линейка фирменных подарков для руководства или партнеров - ограничений по количеству единиц нет!
    <br>
Мы используем современные технологии и материалы, экономим ваше время и предлагаем самые выгодные цены в своём сегменте.
    <br>
Среди работ Formulapodarka - плакетки, панно, настенные и настольные часы, дипломы, значки и многое другое. Основой для них является барельеф с металлизированным покрытием, изготовленный по вашему эскизу или фотографии.
    <br>
Если вы пока не знаете, как должен выглядеть готовый продукт, наши дизайнеры учтут все пожелания и предложат несколько вариантов на выбор.
    <br>
Компания Formulapodarka работает как с индивидуальными клиентами, так и с юридическими лицами. Форма оплаты - наличная и банковский перевод. Заказать можно любым удобным способом - по телефону, электронной почте, через форму на сайте или придя лично в офис. Вы получите заказ уже через 14 дней после предоплаты, так как все работы проводятся на собственном производстве, минуя посредников.
    <br>
Cоздайте ваш уникальный подарок вместе с Formulapodarka!
</p>


{% load static %}
<div class="site-section" id="blog-section">
  <div class="container">
    <div class="row">

        <!-- Награды и благодарности -->
        <div class="col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div>
          <a href="{% url 'awards-page' %}" class="mb-4 d-block"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a>
          <h2><a href="{% url 'awards-page' %}">Награды и благодарности</a></h2>
          </div>
        </div>


        <!-- Технологии -->
        <div class="col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div>
          <a href="{% url 'technologies-page' %}" class="mb-4 d-block"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a>
          <h2><a href="{% url 'technologies-page' %}">Технологии</a></h2>
          </div>
        </div>




    </div>
  </div>
</div>


{% endblock %}