{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>Контакты</h1>

<h2>Контактные данные:</h2>
<p>

Компания FORMULAPODARKA
Адресг. Дзержинский, ул. Дзержинское шоссе д.1 оф. 214
Телефон+7 (495) 665-23-43
E-mailinfo@formulapodarka.ru
Режим работыс 9 до 18 ч (пн-пт)
</p>

<h2>Юридическая информация:</h2>
<p>
OOO "ДИС"
ОГРН 1197746159632
Юридический адрес:
111396, Москва г, Фрязевская ул, дом 10, этаж 3, помещение IV, комната, 24
Генеральный директор
Усачев Дмитрий Юрьевич
</p>

{% endblock %}