{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>Контакты</h1>
<br>
<b>Компания FORMULAPODARKA</b>
<p>
<b>Адресг: </b>Дзержинский, ул. Дзержинское шоссе д. 1 оф. 214 <br>
<b>Телефон: </b>8 495 665 23 43 <br>
<b>e-mail: </b>info@formulapodarka.ru <br>
<b>Режим работы: </b>с 09:00 до 18:00 (пн-пт)
</p>



<h2>Юридическая информация:</h2>
<br>
<p>
<b>OOO "ДИС"</b> <br>
<b>ОГРН: </b>1197746159632 <br>
<b>Юридический адрес:</b> 111396, Москва г, Фрязевская ул, дом 10, этаж 3, помещение IV, комната, 24 <br>
<b>Генеральный директор</b> Усачев Дмитрий Юрьевич <br>
</p>

{% endblock %}