{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>Оплата</h1>

<a href="{% url 'clients-page' %}">Клиентам</a> ->
<a href="{% url 'payment-page' %}">Оплата</a>

<br><br>
Компания Formulapodarka работает как с индивидуальными клиентами, так и с юридическими лицами. Форма оплаты - наличная и банковский перевод. Заказать можно любым удобным способом - по телефону, электронной почте, через форму на сайте или придя лично в офис. Вы получите заказ уже через 14 дней после предоплаты, так как все работы проводятся на собственном производстве, минуя посредников.
    <br>

{% endblock %}