{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}
<h1>{{product_name}}</h1>

<a href="{% url 'catalog-page' %}">Каталог</a> ->
<a href="{% url 'category-page' category_slug %}">{{category_name}}</a> ->
<a href="{% url 'product-page' category_slug product_slug %}">{{product_name}}</a>

<br><br>

<b>Артикур: </b>{{product_article}}
<br>
<b>Название: </b>{{product_name}}
<br>
<b>Описание товара:</b>
<br>
{{product_description}}
<br>
<b>Цена: </b> {{product_price}} руб.



{% endblock %}