{% extends 'base.html' %}


{% block title %}Главная страница{% endblock%}


{% block content %}



<h1>Технологии</h1>

<a href="{% url 'company-page' %}">О компании</a> ->
<a href="{% url 'technologies-page' %}">Технологии</a>

<br><br>

<p>Мы используем множество различных технологий при изготовлении нашей продукции. Ниже перечислены часть из них. Мы постоянно совершенствуемся и внедряем в производство современные инновационные технологии. Все работы выполняются при использовании современного оборудования, эксклюзивных материалов.</p>

<br><br>


{% for technology in technologies %}
        <h2 class="h4"><a href="{% url 'technology-page' technology.slug %}" class="text-black">{{technology.title}}</a></h2>
        <div class="tehno-preview">{{technology.description}}</div>
        <a href="{% url 'technology-page' technology.slug %}">Подробнее</a>
<br><br>
{% endfor %}






{% endblock %}



